.card {
    border: 1px solid #9b9b9b;
    border-radius: 15px;
    padding: 10px;
}

.card:hover {
    border: 1px solid #000;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: blueviolet;
}

.cardText {
    font: 1.2rem;
}